{% extends "::base.html.twig" %}
{% block body %} 
	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	    <div class="item active">
	        <div class="fill" style="background-image:url(' {{ asset('/anKorn/web/bundles/pageneral/images/slider-1.jpeg')}} ');"></div>
	        <div class="carousel-caption">
	            <h2>{{'Legend_slide1' | trans}}</h2>
	        </div>
	    </div>
	    <div class="item">
	        <div class="fill" style="background-image:url(' {{ asset('/anKorn/web/bundles/pageneral/images/slider-2.jpeg')}} ');"></div>
	        <div class="carousel-caption">
	            <h2>{{'Legend_slide2' | trans}}</h2>
	        </div>
	    </div>
	    <div class="item">
	        <div class="fill" style="background-image:url(' {{ asset('/anKorn/web/bundles/pageneral/images/slider-3.jpeg')}} ');"></div>
	        <div class="carousel-caption">
	            <h2>{{'Legend_slide3' | trans}}</h2>
	        </div>
	    </div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="icon-next"></span>
	</a>
	</header>

	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            {{'message_bienvenue_top' | trans}}
	        </h1>
	        <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a></p>
	        <hr />
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4><i class="fa fa-fw fa-car"></i>{{'panel_heading_1_title' | trans}}</h4>
	            </div>
	            <div class="panel-body">
	                <p>{{'panel_heading_1_content' | trans}}</p>
	                <a href="{{ path('pa_annonce_afficher_offre') }}" class="btn btn-default">{{ 'panel_heading_btn' | trans }}</a>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4><i class="fa fa-fw fa-book"></i>{{'panel_heading_2_title' | trans}}</h4>
	            </div>
	            <div class="panel-body">
	                <p>{{'panel_heading_2_content' | trans}}</p>
	                <a href="{{ path('pa_annonce_afficher_demande') }}" class="btn btn-default">{{ 'panel_heading_btn' | trans }}</a>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4><i class="fa fa-fw fa-child"></i>{{'panel_heading_3_title' | trans}}</h4>
	            </div>
	            <div class="panel-body">
	                <p>{{'panel_heading_3_content' | trans}}</p>
	                <a href="{{ path('pa_general_mon_compte') }}" class="btn btn-default">{{ 'panel_heading_btn' | trans }}</a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- /.row -->

	<!-- Portfolio Section -->
	<div class="row">
		<h3>Utilisateurs</h3>
			<label for="searchAdsByIdOrName">{{ 'interfaceG_search_ad' | trans }}</label>
			<div class="input-group">
				<input id="searchAdsByIdOrName" placeholder="{{ 'interfaceG_ads_placeHolder' | trans }}" type="text" class="form-control" />
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="submit">OK</button>
				</span>
			</div>
	    <div class="col-lg-12">
	        <h2 class="page-header">{{'annonces_portfolio_title' | trans }}</h2>
	    </div>
	    {% if annonces is not empty %}
	    {% for annonce in annonces %}
		    <div class="col-md-4 col-sm-6">
		        <div class="thumbnail">
			        <a href="{{ annonce.animage }}">
			            <img class="img-responsive img-portfolio img-hover" src="{{ annonce.animage }}" alt="">
			        </a>
				    <div class="text-center">
		        		<h3>{{annonce.antitre}}<br />
				        	<small>{{ annonce.andescription }}</small>
				        </h3>
				        <b>{{ annonce.anprix }} €</b>
				        <div class="clear"></div>
                        <ul class="list-inline">
                            <li><a href="#" class="btn btn-primary" role="button"><i class="fa fa-fw fa-info"></i>{{ 'button_voir_detail' | trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') or ((is_granted('ROLE_USER') and ( app.user.id == annonce.anuser ))) %}
	                            	<li><a href="{{ path('pa_annonce_modifier', {'id': annonce.anid}) }}" class="btn btn-warning" role="button"><i class="fa fa-fw fa-gear"></i>{{ 'button_edit_ads' | trans }}</a></li>
                            {% endif %}
                        </ul>
				    </div>
				</div>
	   		</div>
		{% endfor %}
	    {% else %}
	    {{'no_result_annonces' | trans}}
	    {% endif %}
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->
{% endblock %}