{% block title %}Interface de gestion | An Korn{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

		<!-- Spacing section -->
		<div class="clear"></div>

		<!-- First section -->
		{% if is_granted('ROLE_ADMIN') %}
		<h2>Interface de gestion administrateur</h2>
		<div class="row">
			<h3>Utilisateurs</h3>
			<label for="searchUserByIdOrName">{{ 'interfaceG_search_user' | trans }}</label>
			<div class="input-group">
				<input id="searchUserByIdOrName" placeholder="{{ 'interfaceG_user_placeHolder' | trans }}" type="text" class="form-control" />
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="submit">OK</button>
				</span>
			</div>

			<div class="clear"></div>

			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr class="info">
						<th class="col-md-1">{{ 'interfaceG_user_id_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_user_username_head' | trans }}</th>
						<th class="col-md-6">{{ 'interfaceG_user_email_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_user_role_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_table_action' | trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Looser</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Looser</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Looser</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<form-group class="pull-right">
				<a href="{{ path('pa_annonce_ajouter') }}" class="btn btn-success btn-sm active" role="button">Ajouter</a>
			</form-group>
		</div>

		<div class="clear"></div>

		<div class="row">
			<h3>Annonces</h3>
			<label for="searchAdsByIdOrName">{{ 'interfaceG_search_ad' | trans }}</label>
			<div class="input-group">
				<input id="searchAdsByIdOrName" placeholder="{{ 'interfaceG_ads_placeHolder' | trans }}" type="text" class="form-control" />
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="submit">OK</button>
				</span>
			</div>

			<div class="clear"></div>

			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr class="info">
						<th class="col-md-1">{{ 'interfaceG_ads_idAds_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_idUser_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_type_head' | trans }}</th>
						<th class="col-md-6">{{ 'interfaceG_ads_titre_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_prix_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_table_action' | trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Id ads 1</td>
						<td>Id user 1</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
					<tr>
						<td>Id ads 2</td>
						<td>Id user 2</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
					<tr>
						<td>Id ads 2</td>
						<td>Id user 2</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td>
							<p>
								<button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">Edit</button>
								<button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="right" rel="tooltip">Delete</button>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<form-group class="pull-right">
				<a href="#" class="btn btn-success btn-sm active" role="button">Ajouter</a>
			</form-group>
		</div>
		{% endif %}

	</div>	<!-- /.container -->
{% endblock %}