{% block title %}Interface de gestion | An Korn{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

		<!-- Spacing section -->
		<div class="clear"></div>

		<!-- Display section -->
		<h2>{{ 'interfaceG_title' | trans }}</h2>
		<div class="row">
			<form-group class="pull-right">
				<a href="{{ path('pa_annonce_ajoutercategorie') }}" class="btn btn-primary btn-sm active" title="{{ 'interfaceG_table_title_cat_button' | trans }}" role="button"><i class="fa fa-plus"></i> {{ 'interfaceG_table_title_cat_button' | trans }}</a>
			</form-group>
		</div>
		<div class="row">
			<h3>{{ 'interfaceG_user_title' | trans }}</h3>
			<label for="searchUserByIdOrName">{{ 'interfaceG_search_user' | trans }}</label>
			<div class="input-group">
				<input id="searchUserByIdOrName" placeholder="{{ 'interfaceG_user_placeHolder' | trans }}" type="text" class="form-control" />
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="submit">{{ 'interfaceG_user_submitText' | trans }}</button>
				</span>
			</div>

			<div class="clear"></div>

			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr class="info">
						<th class="col-md-1">{{ 'interfaceG_user_id_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_user_username_head' | trans }}</th>
						<th class="col-md-6">{{ 'interfaceG_user_email_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_user_role_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_table_action' | trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Protectrice</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Protectrice</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>Brigitte</td>
						<td>Bardot</td>
						<td>super.brigitte@gg.fr</td>
						<td>Protectrice</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<form-group class="pull-right">
				<a href="{{ path('pa_annonce_ajouter') }}" class="btn btn-primary btn-sm active" title="{{ 'interfaceG_table_title_addUser_button' | trans }}" role="button"><i class="fa fa-plus"></i> {{ 'interfaceG_table_title_addUser_button' | trans }}</a>
			</form-group>
		</div>

		<div class="clear"></div>

		<div class="row">
			<h3>{{ 'interfaceG_ads_title' | trans }}</h3>
			<label for="searchAdsByIdOrName">{{ 'interfaceG_search_ad' | trans }}</label>
			<div class="input-group">
				<input id="searchAdsByIdOrName" placeholder="{{ 'interfaceG_ads_placeHolder' | trans }}" type="text" class="form-control" />
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="submit">OK</button>
				</span>
			</div>

			<div class="clear"></div>

			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr class="info">
						<th class="col-md-1">{{ 'interfaceG_ads_idAds_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_idUser_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_type_head' | trans }}</th>
						<th class="col-md-6">{{ 'interfaceG_ads_titre_head' | trans }}</th>
						<th class="col-md-1">{{ 'interfaceG_ads_prix_head' | trans }}</th>
						<th class="col-md-2">{{ 'interfaceG_table_action' | trans }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Id ads 1</td>
						<td>Id user 1</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>Id ads 2</td>
						<td>Id user 2</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>Id ads 2</td>
						<td>Id user 2</td>
						<td>Cat</td>
						<td>Title</td>
						<td>15€</td>
						<td align=center>
							<p>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-info" title="{{ 'interfaceG_table_detail_button' | trans }}" role="button"><i class="fa fa-fw fa-info"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-primary" title="{{ 'interfaceG_table_edit_button' | trans }}" role="button"><i class="fa fa-fw fa-gear"></i></a>
								<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-sm btn-danger" title="{{ 'interfaceG_table_delete_button' | trans }}" role="button"><i class="fa fa-fw fa-times"></i></a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<form-group class="pull-right">
				<a href="{{ path('pa_annonce_ajouter') }}" class="btn btn-primary btn-sm active" title="{{ 'interfaceG_table_title_addAds_button' | trans }}" role="button"><i class="fa fa-plus"></i> {{ 'interfaceG_table_title_addAds_button' | trans }}</a>
			</form-group>
		</div>

	</div>	<!-- /.container -->
{% endblock %}