{% block title %}{{ 'liens_block_title' | trans }}{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- First section -->
	<div class="row">
		<h2>{{ 'liens_welcome' | trans }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_general_liens') }}">{{ 'Liens_title' | trans }}</a></p>
		<!-- /.row -->

		<div class="clear"></div>

		<div class="row">
			<p>{{ 'liens_texte_intro' | trans }}</p>
			<ul>
				<li><a href="https://www.univ-rennes1.fr/">{{ 'liens_ur1' | trans }}</a></li>
				<li><a href="http://www.istic.univ-rennes1.fr/">{{ 'liens_istic' | trans }}</a></li>
				<li><a href="http://symfony.com/">{{ 'liens_symfony' | trans }}</a></li>
				<li><a href="http://nicolas-gigou.fr/">{{ 'liens_gigou' | trans }}</a></li>
				<li><a href="http://quentinlgdc.blogspot.fr/">{{ 'liens_lgdc' | trans }}</a></li>
			</ul>
		</div>
	</div>
	<!-- /.container -->
{% endblock %}