{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Spacing section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- ================ -->
	<!-- Mentions Section -->
	<!-- ================ -->

	<!-- First section -->
	<div class="row">
	    <h2>{{ 'h2_title' | trans }}</h2>
		<h3>{{ 'h3_presentation_title' | trans }}</h3>
		<p>{{ 'mention_1_1' | trans }}</p>
		<p>{{ 'mention_1_2' | trans }}</p>
		<p>{{ 'mention_1_3' | trans }}</p>
		<p>{{ 'mention_1_4' | trans }}</p>
		<p>{{ 'mention_1_5' | trans }}</p>
		<p>{{ 'mention_1_6' | trans }}</p>
	</div>
	<!-- Second section -->
	<div class="row">
		<h3>{{ 'h3_conditions_title' | trans }}</h3>
		<p>{{ 'mention_2_1' | trans }}</p>
		<p>{{ 'mention_2_2' | trans }}</p>
		<p>{{ 'mention_2_3' | trans }}</p>
	</div>
	<!-- Third section -->
	<div class="row">
		<h3>{{ 'h3_description_title' | trans }}</h3>
		<p>{{ 'mention_3_1' | trans }}</p>
		<p>{{ 'mention_3_2' | trans }}</p>
		<p>{{ 'mention_3_3' | trans }}</p>
	</div>
	<!-- Fourth section -->
	<div class="row">
		<h3>{{ 'h3_limitations_contract_title' | trans }}</h3>
		<p>{{ 'mention_4_1' | trans }}</p>
		<p>{{ 'mention_4_2' | trans }}</p>
	</div>
	<!-- Fifth section -->
	<div class="row">
		<h3>{{ 'h3_propriete_title' | trans }}</h3>
		<p>{{ 'mention_5_1' | trans }}</p>
		<p>{{ 'mention_5_2' | trans }}</p>
		<p>{{ 'mention_5_3' | trans }}</p>
	</div>
	<!-- Sixth section -->
	<div class="row">
		<h3>{{ 'h3_limitations_resp_title' | trans }}</h3>
		<p>{{ 'mention_6_1' | trans }}</p>
		<p>{{ 'mention_6_2' | trans }}</p>
		<p>{{ 'mention_6_3' | trans }}</p>
	</div>
	<!-- Seventh section -->
	<div class="row">
		<h3>{{ 'h3_gestion_title' | trans }}</h3>
		<p>{{ 'mention_7_1' | trans }}</p>
		<p>{{ 'mention_7_2' | trans }}</p>
		<p>{{ 'mention_7_3' | trans }}</p>
		<p>{{ 'mention_7_4' | trans }}</p>
		<p>{{ 'mention_7_5' | trans }}</p>
		<p>{{ 'mention_7_6' | trans }}</p>
		<p>{{ 'mention_7_7' | trans }}</p>
	</div>
	<!-- 8th section -->
	<div class="row">
		<h3>{{ 'h3_liens_title' | trans }}</h3>
		<p>{{ 'mention_8_1' | trans }}</p>
		<p>{{ 'mention_8_2' | trans }}</p>
		<p>{{ 'mention_8_3' | trans }}</p>
		<p>{{ 'mention_8_4' | trans }}</p>
		<p>{{ 'mention_8_5' | trans }}</p>
		<p>{{ 'mention_8_6' | trans }}</p>
		<p>{{ 'mention_8_7' | trans }}</p>
	</div>
	<!-- 9th section -->
	<div class="row">
		<h3>{{ 'h3_droit_title' | trans }}</h3>
		<p>{{ 'mention_9_1' | trans }}</p>
	</div>
	<!-- 10th section -->
	<div class="row">
		<h3>{{ 'h3_lois_title' | trans }}</h3>
		<p>{{ 'mention_10_1' | trans }}</p>
		<p>{{ 'mention_10_2' | trans }}</p>
	</div>
	<!-- 11th section -->
	<div class="row">
		<h3>{{ 'h3_lexique_title' | trans }}</h3>
		<p>{{ 'mention_11_1' | trans }}</p>
		<p>{{ 'mention_11_2' | trans }}</p>
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->
{% endblock %}