{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

		<!-- Spacing section -->
		<div class="clear"></div>
		<!-- /.clear -->

		<!-- =========== -->
		<!-- Ads Section -->
		<!-- =========== -->

		<!-- FIl d'Ariane -->
		<div class="row">
			<h2>Bienvenue sur la page de mes annonces.</h2>
		    <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_general_mes_annonces') }}">{{ 'Mes_annonces_title' | trans }}</a></p>

			<!-- We check if there are some ads in the database -->
			{% if entities is not empty %}
				<!-- For all occurrences of ads -->
				{% for entity in entities %}
				    <div class="col-md-4 col-sm-6">
				        <a href="portfolio-item.html">
				            <img class="img-responsive img-portfolio img-hover" src="{{ entity.animage }}" alt="">
				        </a>
				    </div>
				{% endfor %}
			<!-- No ads in the database -->
			{% else %}
				{{'no_result_annonces' | trans}}
			{% endif %}
		</div> <!-- /.row -->
	</div> <!-- /.container -->
{% endblock %}