{% block title %}{{ 'Mon_compte_connected_title' | trans }}{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- ================ -->
	<!-- Mentions Section -->
	<!-- ================ -->

	<!-- Display Content just if the user is connected -->
	<!-- First section -->
	<div class="row">
		<h2>{{ 'mon_compte_welcome' | trans }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="{{ 'Accueil_title' | trans }}" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_general_mon_compte') }}">{{ 'Mon_compte_connected_title' | trans }}</a></p>
	</div>

	<div class="clear"></div>

	<div class="widget">
		<div class="widget-header">
			<h3>{{ 'mon_compte_perso_info' | trans }}</h3>
		</div> <!-- /widget-header -->				
		<div class="widget-content">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active">
					    <a href="#1" data-toggle="tab">{{ 'mon_compte_profile' | trans }}</a>
					</li>
					<li>
						<a href="#2" data-toggle="tab">{{ 'mon_compte_editMode' | trans }}</a>
					</li>
				</ul>
				<br />
				<div class="tab-content">
					<!-- =================================================================
						 ONGLET D'AFFICHAGE DES INFORMATIONS PERSONNELLES DE L'UTILISATEUR
						 ================================================================= -->
					<div class="tab-pane active" id="1">
						<form id="edit-profile" class="form-horizontal">
							<div class="row">
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="username">{{ 'mon_compte_username' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control disabled" id="username" placeHolder="{{ 'mon_compte_username' | trans }}" disabled>
											<p class="help-block">{{ 'mon_compte_username_help' | trans }}</p>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="tel">{{ 'mon_compte_tel' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="tel" placeHolder="{{ 'mon_compte_tel' | trans }}" disabled>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="firstname">{{ 'mon_compte_firstname' | trans }}</label>
										<div class="controls">
												<input type="text" class="form-control" id="firstname" placeHolder="{{ 'mon_compte_firstname' | trans }}" disabled>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="civilite">{{ 'mon_compte_civilite' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="civilite" placeHolder="{{ 'mon_compte_civilite' | trans }}" disabled>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="role">{{ 'mon_compte_role' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="role" placeHolder="{{ 'mon_compte_role' | trans }}" disabled>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="email">{{ 'mon_compte_email' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="email" placeHolder="{{ 'mon_compte_email' | trans }}" disabled>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
							</div>
						</form>
					</div>
					<!-- =====================================================================
						 ONGLET DE MODIFICATION DES INFORMATIONS PERSONNELLES DE L'UTILISATEUR
						 ===================================================================== -->
					<div class="tab-pane" id="2">
						<form id="edit-profile2" class="form-horizontal">
							<div class="row">
								<div class="col-md-6">
									<p>{{ 'mon_compte_gen_text' | trans }}</p>
									<div class="control-group">											
										<label class="control-label" for="username">{{ 'mon_compte_username' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control disabled" id="username" placeHolder="{{ 'mon_compte_username' | trans }}" disabled>
											<p class="help-block">{{ 'mon_compte_username_help' | trans }}</p>
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-6">
									<p>{{ 'mon_compte_pass_text' | trans }}</p>
									<div class="control-group">
										<label class="control-label" for="accountpassword">{{ 'mon_compte_pass1' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="accountpassword" placeHolder="{{ 'mon_compte_pass1' | trans }}">
										</div> <!-- /controls -->	
									</div><!-- /control-group -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="control-group">											
										<label class="control-label" for="firstname">{{ 'mon_compte_firstname' | trans }}</label>
										<div class="controls">
												<input type="text" class="form-control" id="firstname" placeHolder="{{ 'mon_compte_firstname' | trans }}">
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-3">
									<div class="control-group">											
										<label class="control-label" for="lastname">{{ 'mon_compte_lastname' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="lastname" placeHolder="{{ 'mon_compte_lastname' | trans }}">
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-6">
									<div class="control-group">
										<label class="control-label" for="accountpassword">{{ 'mon_compte_pass2' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="accountpassword" placeHolder="{{ 'mon_compte_pass2' | trans }}">
										</div> <!-- /controls -->	
									</div><!-- /control-group -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="control-group">											
										<label class="control-label" for="email">{{ 'mon_compte_email' | trans }}</label>
										<div class="controls">
											<input type="text" class="form-control" id="email" placeHolder="{{ 'mon_compte_email' | trans }}">
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
								</div>
								<div class="col-md-6">
									<div class="control-group">
										<label for="mon_compte_form_civilite">{{ 'mon_compte_civilite' | trans }}</label>
										<select class="form-control" id="mon_compte_form_civilite">
											<option value="homme">Homme</option>
											<option value="femme">Femme</option>
										</select>
									</div> <!-- /control-group -->
								</div>
							</div>
							<div class="clear"></div>
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<div class="pull-right">
										<button type="reset" class="btn">{{ 'mon_compte_reset_button' | trans }}</button> <button type="submit" class="btn btn-primary">{{ 'mon_compte_save_button' | trans }}</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div>
	<!-- /.row -->
{% endblock %}