{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- ================ -->
	<!-- Mentions Section -->
	<!-- ================ -->

	<!-- Display Content just if the user is connected -->
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
	<!-- First section -->
	<div class="row">
		<h2>{{ 'mon_compte_welcome' | trans }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="{{ 'Accueil_title' | trans }}" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_general_mon_compte') }}">{{ 'Mon_compte_connected_title' | trans }}</a></p>
	</div>

	<div class="clear"></div>

	<ul>
		<li><a href="{{ path('pa_general_offres') }}">{{ 'Offres_title' | trans }}</a></li>
		<li><a href="{{ path('pa_general_demandes') }}">{{ 'Demandes_title' | trans }}</a></li>
		<li><a href="{{ path('pa_general_mes_annonces') }}">{{ 'Mes_annonces_title' | trans }}</a></li>
		<li><a href="{{ path('pa_general_deconnexion') }}">{{ 'deconnexion_title' | trans }}</a></li>
	</ul>

	<!-- If the user is not connected -->
	{% else %}
		<div class="clear"></div>
		<div class="text-center">
			<p>{{ 'mon_compte_text_disconnect' | trans }}</p>
			<button onclick="location.href = '{{ path('pa_general_connexion') }}';" class="btn btn-success" >{{ 'mon_compte_connexion_button' | trans }}</button>
		</div>
	{% endif %}
	
	</div>
	<!-- /.row -->
{% endblock %}