<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site d'annonces de particulier à particulier - Résultat d'un projet de Programmation WEB.">
        <meta name="author" content="BETOURNE Joffrey, GIGOU Nicolas, LAGADEC Quentin">
        <title>{% block title %}{{'Welcome' | trans}} !{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets '@PAGeneralBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% javascripts '@PAGeneralBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('pa_general_accueil') }}">An Korn</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('pa_general_accueil') }}">{{'Accueil_title'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('pa_annonce_afficher_offre') }}">{{'Offres_title'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('pa_annonce_afficher_demande') }}">{{'Demandes_title'|trans}}</a>
                        </li>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('pa_general_mes_annonces') }}">{{'Mes_annonces_title'|trans}}</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ 'Mon_compte_connected_title'|trans}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{path('pa_panier_afficher')}}">{{'Mon_compte_panier_title'|trans}}</a>
                                </li>
                                <li>
                                    <a href="{{path('pa_general_mon_compte')}}">{{'Mon_compte_espace_title'|trans}}</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <hr />
                                </li>
                                <li>
                                    <a href="{{ path('pa_general_interface') }}">{{ 'interfaceGestion_title'| trans }}</a>
                                </li>
                                {% endif %}
                                <li>
                                    <hr />
                                </li>
                                <li>
                                    <a href="{{path('pa_general_deconnexion')}}">{{'Mon_compte_deconnexion_title'|trans}}</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('pa_general_connexion') }}">{{'Mon_compte_disconnected_title' | trans}}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        {% block body %}{% endblock %}
        <!-- Footer -->
        <div class="container">
            <hr>
            <footer>
                <div align=center>
                    <div class="col-sm-4">
                        <p><b>Administration</b></p>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                            <p><a href="{{ path('pa_general_deconnexion') }}">{{ 'footer_deconnexion_title' | trans }}</a></p>
                        {% else %}
                            <p><a href="{{ path('pa_general_connexion') }}">{{ 'footer_connexion_title' | trans }}</a></p>
                            <p><a href="{{ path('pa_general_inscription') }}">{{ 'footer_inscription_title' | trans }}</a></p>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <p><b>Liens & partenariats</b></p>
                        <p><a href="{{ path('pa_general_liens') }}">{{ 'footer_liens_title' | trans }}</a></p>
                    </div>
                    <div class="col-sm-4">
                        <p><b>Contact</b></p>
                        <p><a href="{{ path('pa_general_contact') }}">{{ 'footer_contact_title' | trans }}</a></p>
                        <p><a href="{{ path('pa_general_mentions') }}">{{ 'footer_mentions_title' | trans }}</a></p>
                    </div>
                </div>
            </footer>
            <div class="clear"></div>
        </div>
    </body>
</html>
