{% extends "::base.html.twig" %}
{% block body %}
<!-- Page Content -->
<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- First section -->
	<div class="row">
		<h2>{{ 'connexion_welcome' | trans }}</h2>
		<p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Mon_Espace_title' | trans }}</a></p>
		<!-- /.row -->

		<div class="clear"></div>
		<!-- Gestion des message flash -->
		{% for type, messages in app.session.flashBag.all %}
			{% for message in messages %}
				{% if type == 'info' %}
	                <div class="alert alert-success">
	                    {{ message }}
	                </div>
	            {% else %}
	            	<div class="alert alert-warning">
	                    {{ message }}
	                </div>
	            {% endif %}
			{% endfor %}
		{% endfor %}
		<!-- Display Content just if the user is connected -->
		{% if is_granted('ROLE_USER') %}
		<p>{{ 'connexion_already_connected' | trans }}</p>
		<ul>
			<li><a href="{{ path('pa_annonce_afficher_offre') }}">{{ 'Offres_title' | trans }}</a></li>
			<li><a href="{{ path('pa_annonce_afficher_demande') }}">{{ 'Demandes_title' | trans }}</a></li>
			<li><a href="{{ path('pa_annonce_afficher_mesannonces') }}">{{ 'Mes_annonces_title' | trans }}</a></li>
			<li><a href="{{ path('pa_general_deconnexion') }}">{{ 'deconnexion_title' | trans }}</a></li>
		</ul>
		<!-- If the user is not connnected -->
		{% else %}
		<!-- <div class="col-md-4 col-sm-6"> -->
		<div class="page-header">
			<p>{{ 'connexion_please_connect_or_suscribe' | trans }}</p>
			<div class="clear"></div>
			<div class="container">					
				<div class="row">
					<div class="main">
						{% for type, messages in app.session.flashBag.all %}
						{% for message in messages %}
						<div class="{{ type }}">
							{{ message|trans({}, 'FOSUserBundle') }}
						</div>
						{% endfor %}
						{% endfor %}

						{% if app.request.get('_route') == 'fos_user_security_login' %}
						<div class="col-xs-12 col-sm-6 col-sm-offset-1">
							<div class="col-md-8">
							<fieldset>
								<legend>{{ 'connexion_title' | trans }}</legend>					
								{% endif %}

								{% if app.request.get('_route') == 'fos_user_registration_register' %}
								<div class="col-md-4 col-sm-6">
									<fieldset style="margin-bottom: -15px;">
										<legend>{{ 'suscribe_title' | trans }}</legend>
								{% endif %}


								{% block fos_user_content %}
								{% endblock fos_user_content %}

								{% if app.request.get('_route') == 'fos_user_security_login' %}
									</fieldset>
								</div>
							</div>
								{% endif %}



								{% if app.request.get('_route') == 'fos_user_security_login' %}
								<div class="col-md-4 col-sm-6">
									<fieldset style="margin-bottom: -15px;">
										<legend>{{ 'suscribe_title' | trans }}</legend>
										<p>{{ 'suscribe_on_connexion_page' | trans }}</p>
										<a href="{{ path('pa_general_inscription') }}">{{ 'suscribe_go' | trans }}</a>
									</fieldset>
								</div>
								{% endif %}

							</fieldset>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- /.container -->

	<script>
	$( document ).ready(function() {
		$("input[type=text]").attr( "class", "form-control" );
		$("input[type=password]").attr( "class", "form-control" );
		$("input[type=email]").attr( "class", "form-control" );
		$("select").attr( "class", "form-control" );
		$("input[type=submit]").attr("class", "btn btn-success");
		$("input[type=submit]").attr("style", "margin-top:30px; margin-bottom:20px; float:left;");

		$("label[for=remember_me]").attr("style", "float:left;");

		$("#fos_user_registration_form_email").attr( "placeholder", "E-mail" );
		$("#fos_user_registration_form_username").attr( "placeholder", "Identifiant" );
		$("#fos_user_registration_form_plainPassword_first").attr( "placeholder", "Mot de passe" );
		$("#fos_user_registration_form_plainPassword_second").attr( "placeholder", "Confirmation" );
		$("#fos_user_registration_form_us_nom").attr( "placeholder", "Nom" );
		$("#fos_user_registration_form_us_prenom").attr( "placeholder", "Prénom" );
		$("#fos_user_registration_form_us_tel").attr( "placeholder", "Téléphone" );

		$("input").wrap('<div class="col-md-10"></div>');
		$("label").wrap('<div class="col-md-10"></div>');
		$("select").wrap('<div class="col-md-10"></div>');

		$("#username").attr( "placeholder", "Identifiant" );
		$("#password").attr( "placeholder", "Mot de passe" );

		$("input[type=checkbox]").unwrap();
		$("label[for=remember_me]").unwrap();

		$("input[type=checkbox]").wrap('<div class="col-md-3"></div>');
		$("label[for=remember_me]").wrap('<div class="col-md-6 col-md-pull-2"></div>');

	});
	</script>
	{% endblock %}
