
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- ================ -->
	<!-- Mentions Section -->
	<!-- ================ -->

	<!-- First section -->
	<div class="row">
		<h2>{{ 'panier_welcome' | trans }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="{{ 'Accueil_title' | trans }}" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_general_mon_compte') }}">{{ 'Mon_compte_connected_title' | trans }}</a> >> <a href="{{ path('pa_general_mon_panier') }}">{{ 'Mon_compte_panier_title' | trans }}</a></p>
	    {% if panier is not empty %}
			<p>Contenu de mon panier :</p>
		    {% for annonce in panier.paannonces %}
		    	{% if annonce.antype == 'offre' %}
				    <div class="col-md-4 col-sm-6">
				        <div class="thumbnail">
				        	<h4>{{annonce.antitre}}</h4>
					        <a href="portfolio-item.html">
					            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
					        </a>
						    <div class="caption">
						        {{ annonce.andescription }}
						        <b>{{ annonce.anprix }} €</b>
						        <p><a href="#" class="btn btn-primary" role="button">{{ 'voir_detail_txt' | trans }}</a></p>
						    </div>
						</div>
			   		</div>
				{% endif %}
			{% endfor %}
		{% else %}
		    {{'no_result_annonces' | trans}}
		{% endif %}
	<!-- /.row -->
	</div>
	<!-- /.container -->
{% endblock %}