{% block title %}{{ annonce.antitre }} | An Korn{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- First section -->
	<div class="row">
		{% if annonce is not empty %}
		<h2 class="page-header">{{ annonce.antitre }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="{{ 'Accueil_title' | trans }}" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_annonce_afficher_mesannonces') }}">{{ annonce.antitre }}</a></p>
		<hr />
		
		
		<div class="col-md-9">
		    <img class="img-responsive img-portfolio img-hover" src="{{ annonce.animage }}" alt="{{ annonce.antitre }}">
			<p>Description :</p>
			<p>{{ annonce.andescription }}</p>
		</div>

		<div class="col-md-3">
			<h3><b>Prix : {{ annonce.anprix }} €</b></h3>
			<div class="clear"></div>
			{% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and ( app.user == annonce.anuser )) %}
			<a href="{{ path('pa_annonce_modifier', {'id': annonce.anid}) }}" class="btn btn-warning" role="button"><i class="fa fa-fw fa-gear"></i>{{ 'button_edit_ads' | trans }}</a>
			<div class="clear"></div>
			<a href="{{ path('pa_annonce_detail_annonce', {'id': annonce.anid}) }}" class="btn btn-danger" role="button"><i class="fa fa-fw fa-times"></i>{{ 'button_delete_ads' | trans }}</a>
			{% endif %}
		</div>
	    {% else %}
	    {{'no_result_annonces' | trans}}
	    {% endif %}
	</div>
</div>
<!-- /.container -->
{% endblock %}