{% extends "::base.html.twig" %}
{% block body %}
	{% if iscreation %}
		{% set route = path('pa_annonce_ajouter') %}
	{% else %}	
		{% set route = path('pa_annonce_modifier', {'id': idannonce}) %}
	{% endif %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- ================ -->
	<!-- Mentions Section -->
	<!-- ================ -->

	<!-- First section -->
	<div class="row">
		{% if route == path('pa_annonce_ajouter') %}
			<h2>Créer une nouvelle annonce</h2>
		{% else %}
			<h2>Modifier l'annonce</h2>
		{% endif %}
		<p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_annonce_afficher_mesannonces') }}">{{ 'Mes_annonces_title' | trans }}</a> >> <a href="{{route}}">{% if route == path('pa_annonce_ajouter') %}
			{{ 'Creer_annonce_title' | trans }}
		{% else %}
			{{ 'Modifier_annonce_title' | trans }}
		{% endif %}</a></p>
		<form action="{{route}}" id="form_creer_annonce" method="post" {{ form_enctype(form) }}>
			{{ form_rest(form) }}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" id="form_submit" value="Envoyer">
				</div>
			</div>
		</form>

	<!-- /.row -->

	</div>
	<!-- /.container -->
<script>
	$().ready(function() {
		$("#form_creer_annonce").addClass("form-horizontal");
		$("#form_creer_annonce").children().addClass( "form-group" );
		$("label").addClass( "col-sm-2 control-label");
		$("#form_creer_annonce :input").addClass( "form-control");
		$("#pa_annoncebundle_annonce_an_titre").wrap('<div class="col-xs-3"></div>');
		$("#pa_annoncebundle_annonce_an_image").wrap('<div class="col-xs-6"></div>');
		$("#pa_annoncebundle_annonce_an_categorie").wrap('<div class="col-xs-3"></div>');
		$("#pa_annoncebundle_annonce_an_type").wrap('<div class="col-xs-2"></div>');
		$("#pa_annoncebundle_annonce_an_prix").wrap('<div class="col-xs-2"></div>');
		$("#pa_annoncebundle_annonce_an_description").wrap('<div class="col-sm-10"></div>');
		$("#pa_annoncebundle_annonce_an_departement").wrap('<div class="col-xs-3"></div>');
		$("#pa_annoncebundle_annonce_an_secteur").wrap('<div class="col-xs-4"></div>');
		$("#pa_annoncebundle_annonce_an_publie").removeClass();
		$("#pa_annoncebundle_annonce_an_publie").wrap('<div class="col-xs-1"></div>');
		$("#form_submit").removeClass("form-control");
	});

	$("#pa_annoncebundle_annonce_an_departement").on('change', function() {
		var val = $(this).val(); // On récupère le département
 
        if(val != '') {
            $("#pa_annoncebundle_annonce_an_secteur").empty(); // On vide la liste des secteurs
             
            $.ajax({
                type: "POST",
           		url: "{{ path('pa_annonce_secteur') }}", 
            	data: {'depart': val}, // On envoie au controleur le paramètre département
                success: function(json) { 
                    $.each(json, function(index, value) { //On affiche dans la liste la réponse du controleur (JSON)
                        $("#pa_annoncebundle_annonce_an_secteur").append('<option value="'+ index +'">'+ value +'</option>');
                    });
                }
            });
        }
    });
</script>
{% endblock %}