{% extends "::base.html.twig" %}
{% block body %} 
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- Portfolio Section -->
	<div class="row">
	    <div class="col-lg-12">
	        <h2 class="page-header">{{'annonces_portfolio_title' | trans }}</h2>
	        <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil" href="index.php">{{ 'Accueil_title' | trans }}</a></p>
	        <hr />
	    </div>
	    
	    {% if annonces is not empty %}
	    {% for annonce in annonces %}
		    <div class="col-md-4 col-sm-6">
		        <div class="thumbnail">
		        	<h4>{{annonce.antitre}}</h4>
			        <a href="portfolio-item.html">
			            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
			        </a>
				    <div class="caption">
				        {{ annonce.andescription }}
				        <b>{{ annonce.anprix }} €</b>
				        <p><a href="#" class="btn btn-primary" role="button">{{ 'voir_detail_txt' | trans }}</a></p>
				    </div>
				</div>
			</div>
		{% endfor %}
	    {% else %}
	    {{'no_result_annonces' | trans}}
	    {% endif %}
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->
{% endblock %}