{% block title %}Annonces | An Korn{% endblock %}
{% extends "::base.html.twig" %}
{% block body %} 
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- Portfolio Section -->
	<div class="row">
	    <div class="col-lg-12">
	        <h2 class="page-header">{{'annonces_portfolio_title' | trans }}</h2>
	        <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil" href="index.php">{{ 'Accueil_title' | trans }}</a></p>
	        <hr />
	    </div>
	    {{ include('PAGeneralBundle:Default:rechercher.html.twig') }}
	    {% if annonces is not empty %}
	    {% for annonce in annonces %}
		    <div class="col-md-4 col-sm-6">
		        <div class="thumbnail">
			        <a href="{{ path('pa_annonce_detail_annonce') }}">
			            <img class="img-responsive img-portfolio img-hover" src="{{ annonce.animage }}" alt="{{ annonce.antitre }}">
			        </a>
				    <div class="text-center">
		        		<h4>{{annonce.antitre}}</h4>
				        <p>{{ annonce.andescription }}</p> <!-- | truncate(20, false, '...')  a rajouter -->
				        <b>{{ annonce.anprix }} €</b>
				        <div class="clear"></div>
                        <ul class="list-inline">
                            <li>
                            	<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-primary" role="button"><i class="fa fa-fw fa-info"></i>{{ 'button_voir_detail' | trans }}</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and ( app.user.id == annonce.anuser )) %}
	                        <li>
	                        	<a href="#" class="btn btn-warning" role="button"><i class="fa fa-fw fa-gear"></i>{{ 'button_edit_ads' | trans }}</a>
	                        </li>
                            {% endif %}
                        </ul>
				    </div>
				</div>
			</div>
		{% endfor %}
	    {% else %}
	    {{'no_result_annonces' | trans}}
	    {% endif %}
	   
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->
{% endblock %}