{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- First section -->
	<div class="row">
		<h2 class="page-header">Mes annonces</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="Accueil_title" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_annonce_afficher_mesannonces') }}">{{ 'Mes_annonces_title' | trans }}</a></p>
		<hr />
		
		<a href="{{ path('pa_annonce_ajouter') }}"><button type="button" class="btn btn-primary">{{ 'ajouter_annonce' | trans }}</button></a>
		<div class="clear"></div>

		<!-- Gestion des message flash -->
		{% for type, messages in app.session.flashBag.all %}
			{% for message in messages %}
				{% if type == 'info' %}
	                <div class="alert alert-success">
	                    {{ message }}
	                </div>
	            {% else %}
	            	<div class="alert alert-warning">
	                    {{ message }}
	                </div>
	            {% endif %}
			{% endfor %}
		{% endfor %}
		{% if annonces is not empty %}
			<!-- For all occurrences of ads -->
			{% for annonce in annonces %}
			    <div class="col-md-4 col-sm-6">
			        <div class="thumbnail">
			        	<h4>{{annonce.antitre}}</h4>
				        <a href="portfolio-item.html">
				            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
				        </a>
					    <div class="caption">
					        {{ annonce.andescription }}
					        <b>{{ annonce.anprix }} €</b>
					        <p><a href="#" class="btn btn-primary" role="button">{{ 'voir_detail_txt' | trans }}</a> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></p>
					    </div>
					</div>
			    </div>
			{% endfor %}
		<!-- No ads in the database -->
		{% else %}
			{{'no_result_annonces' | trans}}
		{% endif %}
		</div>
	</div>
	<!-- /.container -->
{% endblock %}