{% block title %}Mes annonces | An Korn{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">

	<!-- Marketing Icons Section -->
	<div class="clear"></div>
	<!-- /.row -->

	<!-- =========== -->
	<!-- Ads Section -->
	<!-- =========== -->

	<!-- First section -->
	<div class="row">
		<h2 class="page-header">{{ 'Mes_annonces_title' | trans }}</h2>
	    <p>{{ 'fil_ariane_text' | trans }}<a title="{{ 'Accueil_title' | trans }}" href="{{ path('pa_general_accueil') }}">{{ 'Accueil_title' | trans }}</a> >> <a href="{{ path('pa_annonce_afficher_mesannonces') }}">{{ 'Mes_annonces_title' | trans }}</a></p>
		<hr />
		
		<a href="{{ path('pa_annonce_ajouter') }}"><button type="button" class="btn btn-primary pull-right"><i class="fa fa-fw fa-plus"></i>{{ 'bouton_add_ads' | trans }}</button></a><br />
		<br />
		<div class="clear"></div>

		<!-- Gestion des message flash -->
		{% for type, messages in app.session.flashBag.all %}
			{% for message in messages %}
				{% if type == 'info' %}
	                <div class="alert alert-success">
	                    {{ message }}
	                </div>
	            {% else %}
	            	<div class="alert alert-warning">
	                    {{ message }}
	                </div>
	            {% endif %}
			{% endfor %}
		{% endfor %}
		{% if annonces is not empty %}
			<!-- For all occurrences of ads -->
			{% for annonce in annonces %}
			    <div class="col-md-4 col-sm-6">
			        <div class="thumbnail">
				        <a href="{{ path('pa_annonce_detail_annonce') }}">
				            <img class="img-responsive img-portfolio img-hover" src="{{ annonce.animage }}" alt="{{ annonce.antitre }}">
				        </a>
					    <div class="text-center">
			        		<h4>{{ annonce.antitre }}</h4>
					        <p>{{ annonce.andescription | truncate ( 40 ) }}</p>
					        <b>{{ annonce.anprix }} €</b>
					        <div class="clear"></div>
	                        <ul class="list-inline">
	                            <li>
	                            	<a href="{{ path('pa_annonce_detail_annonce') }}" class="btn btn-primary" role="button"><i class="fa fa-fw fa-info"></i>{{ 'button_voir_detail' | trans }}</a>
	                            </li>
	                            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and ( app.user.id == annonce.anuser )) %}
		                        <li>
		                        	<a href="{{ path('pa_annonce_modifier', {'id': annonce.anid}) }}" class="btn btn-warning" role="button"><i class="fa fa-fw fa-gear"></i>{{ 'button_edit_ads' | trans }}</a>
		                        </li>
	                            {% endif %}
	                        </ul>
					    </div>
					</div>
				</div>
			{% endfor %}
		<!-- No ads in the database -->
		{% else %}
			{{'no_result_annonces' | trans}}
		{% endif %}
	</div>
</div>
<!-- /.container -->
{% endblock %}